$gradient: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(89,86,81,1) 100%);

.box-home {
    background: rgb(0, 0, 0);
    background: $gradient;
    border-radius: 20px;
    color: #fff;
    transition: transform 2s; /* Animation */
    font-size: 14px;
    height: 150px;
    width: 150px;


  }

div {
    margin-top: 20px;
}

.box-home {
    transform: scale(1.19); 

  }